
<header class="header-content header">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <div class="logo-content">
        <mat-icon >
            <img src="./assets/logo.png" alt="logo">
        </mat-icon>
    </div>
      </button>
      <div>
        <!-- span will basically group them together -->
        <span class="emp-text">EMPLOYEE</span><br>
        <span class="emp-text emp-payroll">PAYROLL</span>
    </div>

      <span class="example-spacer"></span>
      <!-- <button mat-raised-button color="warn">Add User</button> -->
    </mat-toolbar>
</header>
<router-outlet></router-outlet> 
